@charset "utf-8";
/* CSS Document */
/*=========================== font Start =========================*/
@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-Light.eot');
	src: url('../fonts/fira/FiraSans-Light.eot?#iefix')
		format('embedded-opentype'), url('../fonts/fira/FiraSans-Light.woff2')
		format('woff2'), url('../fonts/fira/FiraSans-Light.woff')
		format('woff'), url('../fonts/fira/FiraSans-Light.ttf')
		format('truetype'),
		url('../fonts/fira/FiraSans-Light.svg#FiraSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-MediumItalic.eot');
	src: url('../fonts/fira/FiraSans-MediumItalic.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-MediumItalic.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-MediumItalic.woff') format('woff'),
		url('../fonts/fira/FiraSans-MediumItalic.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-MediumItalic.svg#FiraSans-MediumItalic')
		format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-LightItalic.eot');
	src: url('../fonts/fira/FiraSans-LightItalic.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-LightItalic.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-LightItalic.woff') format('woff'),
		url('../fonts/fira/FiraSans-LightItalic.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-LightItalic.svg#FiraSans-LightItalic')
		format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-Medium.eot');
	src: url('../fonts/fira/FiraSans-Medium.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-Medium.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-Medium.woff') format('woff'),
		url('../fonts/fira/FiraSans-Medium.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-Medium.svg#FiraSans-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-Regular.eot');
	src: url('../fonts/fira/FiraSans-Regular.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-Regular.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-Regular.woff') format('woff'),
		url('../fonts/fira/FiraSans-Regular.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-Regular.svg#FiraSans-Regular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-Italic.eot');
	src: url('../fonts/fira/FiraSans-Italic.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-Italic.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-Italic.woff') format('woff'),
		url('../fonts/fira/FiraSans-Italic.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-Italic.svg#FiraSans-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'WebFontFont';
	src: url('../fonts/franziska/WebFontFont.eot');
	src: url('../fonts/franziska/WebFontFont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/franziska/WebFontFont.woff2') format('woff2'),
		url('../fonts/franziska/WebFontFont.woff') format('woff'),
		url('../fonts/franziska/WebFontFont.ttf') format('truetype'),
		url('../fonts/franziska/WebFontFont.svg#WebFontFont') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'WebFontFont1';
	src: url('../fonts/franziska/WebFontFont_1.eot');
	src: url('../fonts/franziska/WebFontFont_1.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/franziska/WebFontFont_1.woff2') format('woff2'),
		url('../fonts/franziska/WebFontFont_1.woff') format('woff'),
		url('../fonts/franziska/WebFontFont_1.ttf') format('truetype'),
		url('../fonts/franziska/WebFontFont_1.svg#WebFontFont') format('svg');
	font-weight: normal;
	font-style: italic;
}
/*=================== Fonts END =========================*/
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
	outline: none;
	 
}

/*==================common css================*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'WebFontFont1';
	color: #1573c5;
}

body {
	background-color: #f1f5fa;
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans';
	font-size: 1rem;
}

body#login {
	background-color: #fff;
}

.btn-danger {
	background-color: #e5202e;
}

.text-danger {
	color: #e5202e !important;
}

.whiteBg {
	background: #fff;
}

.blueBg {
	background: #0d679e;
}

.borromBorder:before {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #ee3e41;
	height: 15px;
	content: '';
	border-top: 10px solid #7ac043;
}

.pl130 {
	padding-left: 130px;
}

.minHeight400 {
	min-height: 400px;
}
/*==================End common css================*/


/* ========Login Page CSS END====== */
 

.sidebar {
	position: fixed;
	width: 80px;
	top: 76px;
	bottom: 0;
	left: 0;
	z-index: 1031;
	padding: 0px 0 20px 0;
	border-right: 1px solid #eee;
}

.sidebar ul li {
	position: relative;
}

    
.mainHeading {
	margin-bottom: 20px;
	padding-left: 15px;
	font-size: 30px;
}

.mainHeading button, .mainHeading .dropdown-menu, .mainHeading a {	font-family: 'Fira Sans';}

.innerHeading {	color: #000;font-family: 'Fira Sans';	font-weight: normal;}
 

.mandatory {color: #ff0000;}
.modal-header{padding:5px 15px;}
.col-form-label{font-size:14px;}
.articleShareBlock{position:fixed;left:0;top:30%;background:#7ac143;border-radius:0 5px 5px 0;padding:20px 5px;}
.articleShareBlock ul{list-style:none;margin:0;padding:0;}
.articleShareBlock ul li{text-align:center;margin-bottom:20px;}
.articleShareBlock ul li:last-child{margin-bottom:0;}
.articleShareBlock ul li a{font-size:12px;color:#fff;text-decoration:none;transition: all 0.1s ease-out;}
.articleShareBlock ul li a:hover{color:#bfffb8;}
.articleShareBlock ul li a i{font-size:16px;}
#toTop {position:fixed;bottom:5px;right:10px;cursor:pointer;font-size:40px;color:#0d679e;}
.articleTopLogo{text-align:center;background:#0d679e;padding:10px 0;}
.articleLinks{text-align:center;display:block;color:#000;text-decoration:none !important;padding:20px 0;border-bottom:1px solid #e2e0e0;}
.articleLinks i{font-size:40px;color:#7ac043;}
.pl80{padding-left:80px;}


/* share buttons css START */
.share-wrapper {
  font: 14px, 'FontAwesome';
  position: relative;
  text-align: center; 
}


.share-container {
  margin-left: 0px;
  margin-top:  0px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.05,.93,.61,1.6);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  width: 0px;
  height: 0px;
  background: #fff;
}


.share-action:hover ~ .share-container,
.share-container:hover {
  width: 100px;
  height: 100px;

  overflow: visible;
}



.share-container:after,
.share-container:before {
  position: absolute;
  background:  linear-gradient(rgba(136, 221, 255, 0.5) 0%, rgba(34, 153, 221, 0.5) 50%, rgba(136, 221, 255, 0.5) 100%);
  z-index:4;
  margin: 0;
  transition: all 0.5s ease-in-out;
  content: '';
}

.share-container:before {
  background:  linear-gradient(left, rgba(136, 221, 255, 0.5) 0%, rgba(34, 153, 221, 0.5) 50%, rgba(136, 221, 255, 0.5) 100%);
  height: 1px;
  margin: 50% 50%;
  width: 0%;
}

.share-action:hover ~ .share-container:before,
.share-container:hover:before {
  width: 85%;
  left: 0px;
  margin: 50% 7%;
}


.share-container:after {
  left: -1px;
  height: 0%;
  width: 1px;
  margin: 50% 50%;
}

.share-action:hover ~ .share-container:after,
.share-container:hover:after {
  height: 85%;
  margin: 7% 50%;
}

.share-action {
  
  vertical-align: middle;
  z-index: 5;
  position: relative;
line-height: 33px;
 color: #7ac043;
  /* box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5) inset, 0 0 0px 1px rgba(33, 112, 178, 0.5);  
	font-size: 40px; */
   
}

.share-btn {
  display:inline-block;
  width: 49%;
  height: 49%;
  position: absolute;
  z-indez:1;
  border-color: #92888f;
  border-style: solid;
  border-width: 0;
  font-size: 0px;
  color: #777777;
  overflow: hidden;
 
}

.share-action:hover ~ .share-container .share-btn ,
.share-container:hover .share-btn  {
  overflow: visible;
  font-size: 25px;
}

.share-btn:hover {
  background:linear-gradient(#8df 0%, #29d 100%);
  color: #ffffff;
  text-shadow: 0 -1px #4298e0;
   text-decoration:none;
}

.share-btn.tl {
  right: 50%;
  bottom: 50%;
  
}
.share-btn.tr {
  left: 50%;
  bottom: 50%;
  
}
.share-btn.br {
  left: 50%;
  top: 50%;
  
}
.share-btn.bl {
  right: 50%;
  top: 50%;
  
}

.share-btn {
  line-height: 50px;
}

/** positions **/
 
.right.share-wrapper {
  /* margin: 50% 0 0 25%;
  top: -16px; */
}

.right .share-container {
  position: absolute;
  top: 0%;
  right: 50%;
}

.right .share-action:hover ~ .share-container .share-btn:nth-child(1):after,
.right .share-container:hover .share-btn:nth-child(1):after {
  content: '';
  /* border: 11px solid transparent;
  border-right-color: #fff;
  border-left: none; */
  width: 0;
  height: 0;
  position: absolute;
  right: 100%;
  top: 100%;
  margin-top: -11px;
}

 
.right .share-action:hover:after{
  position: absolute;
  content: '';
  z-index: 1;  
}

.right .share-action:hover:after {
  top: -50%; 
  left: 100%;
  width: 20px;
  height: 200%;  
}
 
.right .share-container{
  top : 0%;
  left: 50%;
}

.right .share-action:hover ~ .share-container,
.right .share-container:hover {
  margin-left: 10px;
  left: 100%;
  top: 0;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
 

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-facebook:before             { content: "\f09a"; }
.icon-twitter:before              { content: "\f099"; }
.icon-linkedin:before            { content: "\f0e1"; }
.icon-google-plus:before          { content: "\f0d5"; }

/* share buttons css END */


#text-layer { 
   position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
    margin:0 auto;
}

#text-layer > div {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  visibility:0;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

#textLayer .highlight {
  margin: -1px;
  padding: 1px;

  background-color: rgb(180, 0, 170);
  border-radius: 4px;
}

#textLayer .highlight.begin {
  border-radius: 4px 0px 0px 4px;
}

#textLayer .highlight.end {
  border-radius: 0px 4px 4px 0px;
}

#textLayer .highlight.middle {
  border-radius: 0px;
}

#textLayer .highlight.selected {
  background-color: rgb(0, 100, 0);
}

#textLayer ::selection { background: rgb(0,0,255); }
#textLayer ::-moz-selection { background: rgb(0,0,255); }

#textLayer .endOfContent {
  display: block;
  position: absolute;
  left: 0px;
  top: 100%;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

#textLayer .endOfContent.active {
  top: 0px;
}

