/* --------------- Page setup ------------------------ */
p, h1, h2, h3, h4, h5, h6, form {
	margin: 0;
	padding: 0;
}

#article1-front, #article1-front p {font-family: "Times New Roman";}
#article1-body, #article1-back{padding-right:20px; font-family: "Times New Roman";}
#article1-body p {
	margin-bottom: 16px;
	font-family: "Times New Roman";
	text-align:left
}
body{
	margin-bottom: 16px;
	font-family: "Times New Roman";
}

h2.document-title{ 
	font-size: 1.8em;
	line-height: 1.6em;
	margin-top: 4px;
	margin-bottom: 10px;    
	color: #000;
    font-family: "Arial";
    font-weight:bold
}

h2.main-title {
	font-size: 1.8em;
    line-height: 1.6em;
	margin-top: 4px;
	margin-bottom: 10px;
	color: #000;
    font-family: serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

h2.document-subtitle {
	font-family: serif;
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
	font-weight:normal;
}

h3.section-title{
	font-family: serif;
	font-size: 1.125em;
	line-height: 1.6em;
	letter-spacing: -.01em;
	color: #020202;
	margin-top: 14px;
	margin-bottom:0;
	font-weight:bold;
}

div.centered {
	text-align: center
}

div.table {
	display: table
}

div.metadata.table {
	width: 100%;
	margin-bottom: 1rem;
}
/*div.row { display: table-row }*/
div.cell {
	 
	padding-left: 0.25em;
	padding-right: 0.25em;
	text-align:left !Important;
}

div.metadata div.cell {
	vertical-align: top
}

div.two-column div.cell {
	width: 50%
}

div.one-column div.cell.spanning {
	width: 100%
}

div.metadata-group {
	margin-top: 0.5em;
	font-size: 75%
}

div.metadata-group>p, div.metadata-group>div {
	margin-top: 0.5em
}

div.metadata-area * {
	margin: 0em
}

div.metadata-chunk {
	margin-left: 1em
}

div.branding {
	text-align: center
}

div.document-title-notes {
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto
}

div.footnote {
	font-size: 90%;
	/* border-bottom: 1px solid #dedede; */
	width: 100%;
	padding-bottom:5px;
	margin-bottom: 16px;
}
div.footnote p{margin-bottom:0px !important;margin-top: 13px;letter-spacing: 0em;line-height:1.5em;}
 

/* rules */
hr.part-rule {
	border: 0; 
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	height:1px;
	border-color:#000;
	background: #000;
}

hr.section-rule {
	border: thin dotted black;
	width: 50%;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* superior numbers that are cross-references */
.xref {
	color: red;
}

/* generated text */
.generated {
	color: gray;
}

.warning, tex-math {
	font-size: 80%;
}

.warning {
	color: red
}

.tex-math {
	color: green
}

.data {
	color: black;
}

.formula {
	font-size: 90%
}

/* --------------- Titling levels -------------------- */
.document-title {
	/* text-align: center; */
	
}

/* callout titles appear in a left column (table cell)
   opposite what they head */
.callout-title {
	text-align: right;
	margin-top: 0.5em;
	margin-right: 1em;
	font-size: 140%
}

div.section, div.back-section {
	margin-top: 0.5em;
	margin-bottom: 0.5em
}

div.panel {
	border: 0px solid #f2f3f3;
	margin: 10px 0;
	padding: 10px;
	box-shadow: 0 0;
	/* background: rgba(239, 239, 239, 0.18); */
	border-radius: 0;
}

.timeout-panel {
	border-top: 3px solid #9a054a;
	margin: 16px 30px;
	background-color: #f4e5ec;
	letter-spacing: 0em;
	color: #121212;
	padding: 13px;
	clear:both;
}

.chem-struct-wrap-panel {
	border-top: 2px solid #212121;
	border-bottom: 2px solid #212121;
	margin: 16px 0;
	/* background-color: #f9fff5; */
	letter-spacing: 0em;
	color: #121212;
	padding: 13px;
	width: 100%;
    float: left;
}

.boxed-text-panel {
	/* border: 1px solid #212121; */
	margin: 16px 0;
	background-color: #f4f4f4;
	letter-spacing: 0em;
	color: #121212;
	padding: 13px;
	width: 100%;
    float: left;
}

.boxed-text-panel  .section {
	margin-top: 0;
}

.boxed-text-panel  .table-wrap-panel, .boxed-text-panel  .fig-panel {
	border-top: 0;
}

.boxed-text-panel .section p{float:left;width:100%;}

.img-panel {
	clear: both;
	position: relative;
	padding: 16px 0px 0px 0px;
	text-align: center;
}

.img-panel img {
	max-width: 100%;
	margin-bottom: 13px;
}

.img-no-label-panel {
	padding: 16px 0px 0px 0px;
	margin-bottom: 16px;
}

.img-no-label-panel>.img-panel {
	padding: 0px;
}

.fig-panel, .table-wrap-panel {
	/* border-top: 3px solid #007bc6; */
    padding-top: 6px;
   /*  background: #efefef; */
    padding: 10px;

}

.fig-panel>h5.label, .table-wrap-panel>h5.label {
	padding-top: 0px;
}

.fig-panel>.img-panel, .table-wrap-panel>.img-panel {
	border-bottom: 0px;
	padding: 0;
	text-align: center;
}

.fig-panel>.img-panel > img {
	cursor:pointer;
	max-width:70%;
}

.table-wrap-panel p, .table-wrap-panel ul, .table-wrap-panel ol, .table-wrap-panel dl, .table-wrap-panel hr, .table-wrap-panel form, .table-wrap-panel .table-responsive, .table-wrap-panel blockquote, .table-wrap-panel pre {
	margin-bottom: 1em;
}
.table-wrap-panel > table{flex: 0 0 70%;max-width: 70%;margin-left: auto; margin-right:auto;border:1px solid #9a9a9a}
.table-wrap-panel > table tr td{border:1px solid #9a9a9a;border-bottom:0px;border: 1px solid #9a9a9a;
     }
.fig-panel>.caption .table-wrap-panel>.caption{
	text-align:left;
}

.table-wrap-panel thead th{
	font-size: 1em;
	line-height: 1.5em;
	letter-spacing: 0em;
	color: #121212;		
	padding: 5px;
	border: 1px solid #9a9a9a;
    background: #e6e6e6;
 
}

.table-wrap-panel tbody td{
	font-size: 1em;
	line-height: 1.5em;
	letter-spacing: 0em;
	color: #121212;		
	padding: 5px !important;
}

.table-wrap-foot > .fn-group > .footnote >p{
	font-family: serif;
	 
	font-size: 0.95em;
	line-height: 1.5em;
	letter-spacing: 0em;
	color: #121212;		
}

.attrib {
	margin-bottom: 0 !important;
	padding: 0;
	font-size: 15px;
	line-height: 1.5em;
	letter-spacing: 0em;
	color: #121212;
	text-align: center;
	border-bottom: 1px solid #919599;
}

.maxImgwidth {
	float: left;
	padding-top: 6px !important;
	margin: 0 15px 0px 0;
}

.maxImgwidth img {
	margin-bottom: 0px !important;
}

#article1-footer {
	clear: both;
}

div.fig, .disp-formula {
	padding: 20px;
	border: 1px solid #919599;
}

/* div.blockquote {
	font-size: 90%;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-left: 5px solid;
	color:#ECEAE6;
} */
div.blockquote {
	font-size: 90%;
	margin:0;
	/* border-left: 5px solid #e0e0e0; 
	color:#007bc6;*/
	margin-top:4px;margin-bottom:20px;
	padding-left:30px;padding-right:30px;
	padding-top:20px;padding-bottom:20px;
	width:100%;float:left;
	/* background:#f6f6f6; */
}
div.blockquote p{font-size: 12px;line-height:1.6em; letter-spacing:-.01em; }
div.blockquote p i{display:block;color:#808080;  font-style:normal}
div.blockquote p.first{font-size: 12px;line-height:1.6em; letter-spacing:-.01em; }
div.blockquote p:last-child{margin-bottom:0px !important;}
div.blockquote > .maxImgwidth{padding-top:0 !important;}
.pdfContentBox{font-size:14px; padding-right:15px;}

div.caption {
	margin-top: 0;
	margin-bottom: 0.5em;
	 
}
div.caption p{text-align:center; font-family:"Arial" !important}

div.speech {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em
}

div.verse-group {
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em
}

div.verse-group div.verse-group {
	margin-left: 1em;
	margin-top: 0em;
	margin-bottom: 0em
}

div.note {
	margin-top: 0em;
	margin-left: 1em;
	font-size: 85%
}

.ref-label {
	margin-top: 0em;
	vertical-align: top;
	position:relative;margin-left:10px;
}

.ref-content {
	margin-top: 0em;
	padding-left: 0.25em
}

h4.subsection-title, h3.title {
	font-family: serif;
	font-size: 18px;
	line-height: 1.6em;
	letter-spacing: 0em;
	color: #121212
}

h5.label a {
    color: #007bff;
}

a h5.label {
    color: #007bff;
}
h5.label {
	font-family: serif;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-left: 0;
	color: #121212;
	line-height: 1.6em;
	letter-spacing: 0em;
	font-size: 18px;
	font-weight: normal;
}



/*p { margin-top: 0.5em; margin-bottom: 0em }*/
p.first {
	margin-top: 0em
}

p.verse-line, p.citation {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0;
	 
}

p.address-line {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2em
}

div.def-list {
	border-spacing: 0.25em
}

div.def-list div.cell {
	vertical-align: top;
	border-bottom: thin solid #f2f3f3;
	padding-bottom: 0.5em
}

div.def-list div.def-list-head {
	text-align: left
}

.overline {
	text-decoration: overline;
}

div.list ul {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.list ul li {
	margin-left: 25px;
	margin-bottom: 10px;
	position: relative;
	word-wrap: break-word;
}

div.list ul li p{float:none;position:relative}

div.list ul li span.label {
	position: absolute;
	left: -30px;
	color: #000;
	top: 5px;
}

.table-wrap.panel {
	background: transparent
}

.bold-metadata-entry {
	font-weight: bold;
}
.product-row{width:100%;float:left;}
.product-row .img-panel{margin-bottom:15px;margin-right:20px;}
.product-metadata-title{font-family: serif; font-size: 20px; color:#121212; }
.product-metadata{line-height: 1.2em;margin-bottom:5px;}
.product-metadata label{margin-right:10px;margin-bottom:0;}
.product-left-cell {float:left;margin-right:5px;vertical-align: top;width:30%}
.product-right-cell {float:left;vertical-align: top;width:68%}

.product-row .bold-metadata-entry{line-height: 1.2em;margin-bottom:10px;}

.ref-list.table .row{position:relative;}
.ref-list.table .row div.ref-label{position:absolute;left:0;top:0;}
.ref-list.table .row div.ref-content{padding-left:50px;  }
.ref-list.table .row div.ref-content p.citation{margin-left:0;text-indent:0;}
.back-section .cust-row{float:left;width:100%;display:flex;margin-bottom:10px;}
.affiliation { margin-top: 0 !important; margin-bottom: 10px;}

.subject-title {
    text-align:center;
    font-family: "Times New Roman";
    color:#020202;
    border-bottom:2px solid #000;
    padding: 5px 10px;
    font-size: 20px;
}

.authors{font-style:italic;}

.frontBottom{font-size:12px;}

#article1-body > p:first-child:first-letter {
    font-family: "Arial";
    font-size: 300%;
    font-weight: bold;
    margin: 0.1em 0em -0.1em 0em;
    text-align: left;
    float: left;
    line-height: .7em;
}
#top-front{width:100%;float:left;}
.topFrontLeft{width:69%;float:left;display:flex;}
.header-fig{margin-right:10px;}
.header-fig img{max-height:120px;}
.topFrontRight{width:29%;float:right;text-align:right;}

.boxed-text-panel > .list ul li {
    list-style-type: disc;
}

.caption> .title {
    text-align: center;
    font-weight: bold;
}

div.list ul li { margin-left: -21px;}