body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.logoutBtn {
	color: #fff;
}

.err {
	color: #8B0000;
}

.form-control.error {
    border-color: #f50000;
}

.required-field::after {
    content: "*";
    color: red;
}

.textError{
	text-align: right;
	color: red;
	font-weight: bold;
	
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}

.pageloader
{
  background: rgba( 255, 255, 255, 0.8 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.pageloader img
{
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
}