@charset "utf-8";
/* CSS Document */
/*=========================== font Start =========================*/
@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-Light.eot');
	src: url('../fonts/fira/FiraSans-Light.eot?#iefix')
		format('embedded-opentype'), url('../fonts/fira/FiraSans-Light.woff2')
		format('woff2'), url('../fonts/fira/FiraSans-Light.woff')
		format('woff'), url('../fonts/fira/FiraSans-Light.ttf')
		format('truetype'),
		url('../fonts/fira/FiraSans-Light.svg#FiraSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-MediumItalic.eot');
	src: url('../fonts/fira/FiraSans-MediumItalic.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-MediumItalic.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-MediumItalic.woff') format('woff'),
		url('../fonts/fira/FiraSans-MediumItalic.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-MediumItalic.svg#FiraSans-MediumItalic')
		format('svg');
	font-weight: 500;
	font-style: italic;
}

.header-head {
    padding: 5px 15px;
    display: inline-block;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-LightItalic.eot');
	src: url('../fonts/fira/FiraSans-LightItalic.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-LightItalic.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-LightItalic.woff') format('woff'),
		url('../fonts/fira/FiraSans-LightItalic.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-LightItalic.svg#FiraSans-LightItalic')
		format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-Medium.eot');
	src: url('../fonts/fira/FiraSans-Medium.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-Medium.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-Medium.woff') format('woff'),
		url('../fonts/fira/FiraSans-Medium.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-Medium.svg#FiraSans-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-Regular.eot');
	src: url('../fonts/fira/FiraSans-Regular.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-Regular.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-Regular.woff') format('woff'),
		url('../fonts/fira/FiraSans-Regular.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-Regular.svg#FiraSans-Regular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira/FiraSans-Italic.eot');
	src: url('../fonts/fira/FiraSans-Italic.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/fira/FiraSans-Italic.woff2') format('woff2'),
		url('../fonts/fira/FiraSans-Italic.woff') format('woff'),
		url('../fonts/fira/FiraSans-Italic.ttf') format('truetype'),
		url('../fonts/fira/FiraSans-Italic.svg#FiraSans-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'WebFontFont';
	src: url('../fonts/franziska/WebFontFont.eot');
	src: url('../fonts/franziska/WebFontFont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/franziska/WebFontFont.woff2') format('woff2'),
		url('../fonts/franziska/WebFontFont.woff') format('woff'),
		url('../fonts/franziska/WebFontFont.ttf') format('truetype'),
		url('../fonts/franziska/WebFontFont.svg#WebFontFont') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'WebFontFont1';
	src: url('../fonts/franziska/WebFontFont_1.eot');
	src: url('../fonts/franziska/WebFontFont_1.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/franziska/WebFontFont_1.woff2') format('woff2'),
		url('../fonts/franziska/WebFontFont_1.woff') format('woff'),
		url('../fonts/franziska/WebFontFont_1.ttf') format('truetype'),
		url('../fonts/franziska/WebFontFont_1.svg#WebFontFont') format('svg');
	font-weight: normal;
	font-style: italic;
}
/*=================== Fonts END =========================*/
html{
	font-size: 90%;
}
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
	outline: none;
	 
}

p, h1, h2, h3, h4, h5, h6, form {
	margin: 0;
	padding: 0;
}
/*==================common css================*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'WebFontFont1';
	color: #1573c5;
}

body {
	background-color: #f1f5fa;
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans';
	font-size: 1rem;
}

body#login {
	background-color: #fff;
}

.btn-danger {
	background-color: #e5202e;
}

.text-danger {
	color: #e5202e !important;
}

.whiteBg {
	background: #fff;
}

.blueBg {
	background: #0d679e;
}

.borromBorder:before {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #ee3e41;
	height: 15px;
	content: '';
	border-top: 10px solid #7ac043;
}

.pl130 {
	padding-left: 130px;
}

.minHeight400 {
	min-height: 400px;
}
/*==================End common css================*/

/* ========Login Page CSS START====== */
#login input[type='text'], #login input[type=password], #login input[type=number],
	#login input[type=email] {
	background: #f3f3f3;
	border: none;
}

#login .form-group label {
	color: #474747
}

#login .text-muted {
	color: #b6b6b6 !important;
}

button, button:focus {
	outline: none;
}

.loginBox {
	border-radius: 10px;
	    margin-bottom: 60px !important;
}

.borderTop10 {
	border-top: 10px solid #007ac3
}

.loginHeading {
	color: #1778c9;
	font-size: 2.375rem;
	text-align: center;
	border-bottom: 1px solid #bbb9b9;
	margin-bottom: 25px;
	padding-bottom: 15px;
}

#login footer {
	border-bottom: 15px solid #7ac043;
	width: 100%;
	padding: 10px 0;
	color: #4a4a4a;
}

#login footer:before {
	position: absolute;
	bottom: -15px;
	width: 100%;
	background: #ee3e41;
	height: 5px;
	content: '';
}

#login header {
	width: 100%;
	background: none;
	padding: 0;
	margin: 0;
} /*use in only Login Page */
/* ========Login Page CSS END====== */
header>nav {
	background: #0d679e;
	width: 100%;
	padding: .5rem 1rem;
	margin: 0;
} /*use in All Pages Page */
.topLinks li a {
	color: #fff;
	font-size: 20px;
	transition: all 0.5s ease;
}

.topLinks li a:hover {
	color: #b5e3ff;
}

.logoutBtn i {
	font-size: 30px;
}

.logoutBtn:hover {
	color: #e5202e !important;
}

.sidebar {
	position: fixed;
	width: 130px;
	top: 72px;
	bottom: 0;
	left: 0;
	z-index: 1031;
	padding: 0px 0 20px 0;
	border-right: 1px solid #eee;
}

.sidebar ul li {
	position: relative;
}

.leftNavLinks {
	display: block;
	text-align: Center;
	border-left: 5px solid #f3f3f3 !important;
	padding: 4px 0;
	color: #474747;
	/* transition: all 0.5s ease; */
	border-bottom: 1px solid #e2e0e0 !important;
}

.leftNavLinks:hover, .leftNavLinks:focus, .leftNavLinks.active {
	border-left: 5px solid #7ac043 !important;
	color: #7ac043;
	text-decoration: none;
}

.navIcon {
	display: block;
	background: url('../img/sprites.png') no-repeat center center;
	height: 47px;
	width: 100%;
	/* transition: all 0.5s ease; */
}

.icon1 {
	background-position: 42.6px 4px;
}

.leftNavLinks:hover>.icon1, .leftNavLinks.active>.icon1, .leftNavLinks:focus>.icon1
	{
	background-position: -55px 4px;
}

.icon2 {
	background-position: 42.6px -85px;
}

.leftNavLinks:hover>.icon2, .leftNavLinks.active>.icon2, .leftNavLinks:focus>.icon2
	{
	background-position: -55px -85px;
}

.icon3 {
    background-position: 42.6px -403px;
}

.leftNavLinks:hover>.icon3, .leftNavLinks.active>.icon3, .leftNavLinks:focus>.icon3
	{
	background-position: -55px -403px;
}

.icon4 {
	background-position: 42.6px -158px;
}

.leftNavLinks:hover>.icon4, .leftNavLinks.active>.icon4, .leftNavLinks:focus>.icon4
	{
	background-position: -55px -158px;
}

.icon5 {
	background-position: 42.6px -328px;
}

.leftNavLinks:hover>.icon5, .leftNavLinks.active>.icon5, .leftNavLinks:focus>.icon5
	{
	background-position: -55px -328px;
}

.icon6 {
    background-position: 41px -570px;
}

.leftNavLinks:hover>.icon6, .leftNavLinks.active>.icon6, .leftNavLinks:focus>.icon6
	{
	background-position: -57px -570px;
}

.icon7 {
    background-position: 41px -487px;
}

.leftNavLinks:hover>.icon7, .leftNavLinks.active>.icon7, .leftNavLinks:focus>.icon7
	{
	background-position: -58px -487px;
}

.tabContent {
	padding: 20px 0;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs>li {
	margin-right: 5px;
}

.nav-tabs .nav-item {
	margin-bottom: 0px;
}

.nav-tabs>li>a {
	background: #d9e2ec;
	color: #6d829e;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: #fff;
}

.nav-tabs>li.active>a {
	background: #fff;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	background: #fff;
	border-bottom-color: transparent;
	color: #070707;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background-image: none;
	border-color: #fff;
}

.mainHeading {
	margin-bottom: 20px;
	padding-left: 15px;
	font-size: 30px;
}

.mainHeading button, .mainHeading .dropdown-menu, .mainHeading a {
	font-family: 'Fira Sans';
}

.innerHeading {
	color: #000;
	font-family: 'Fira Sans';
	font-weight: normal;
}

.table-btn {
	padding: 0.1rem 0.35rem;
	color: #4f576a;
}

.mandatory {
	color: #ff0000;
}

 .table{    max-height: 350px; width:100%}
.table tbody td{/* white-space: nowrap; width:100%;*/}
.table thead th {
	background-color: #50586b;
	color: white;
	/* white-space: nowrap; */
	font-weight: normal;
}

.table thead th:first-child {
	border-radius: 5px 0 0 0;
	border: transparent;
}

.table thead th:last-child {
	border-radius: 0 5px 0 0;
	border: transparent;
}

.slimScrollBar {
	opacity: 1 !important;
}

.leftNavManu {
	border: 1px solid #ccc;
	position: absolute;
	right: -100px;
	top: 0;
	background: #fff;
	border-radius: 5px;
	z-index: 1155;
	padding: 0px;
	background: #f8f8f8;
	display: none;
	transition: all 0.5s ease;
}

.leftNavLinks:hover+.leftNavManu {
	display: block
}

.leftNavManu:hover - .leftNavManu {
	display: block
}

.leftNavManu:after, .leftNavManu:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.leftNavManu:after {
	border-color: rgba(248, 248, 248, 0);
	border-right-color: #f8f8f8;
	border-width: 10px;
	margin-top: -10px;
}

.leftNavManu:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #ccc;
	border-width: 11px;
	margin-top: -11px;
}

.leftNavManu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.leftNavManu ul li {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
	padding: 2px 15px;
	min-width: 100px;
}

.leftNavManu ul li:last-child {
	margin-bottom: 0px;
	border-bottom: 0px;
}


.page-link {
	background-color: #F5F5F5;
	border: 1px solid #ddd !important;
}

.page-link:focus, .page-link:hover {
	color: #fff;
	background-color: #0d679e;
}

.page-link {
	color: #818181;
}

/*================ Css Start by sandeep gupta======================*/
.sidebar   .dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
}

.sidebar   .dropdown-content {
	display: none;
	position: absolute;
	min-width: 260px;
	padding: 10px 10px 10px 15px;
	z-index: 1;
	top: 0px;
	left: 120px;
}

.sidebar   .dropdown-content a {
	color: black;
	padding: 5px;
	text-decoration: none;
	display: block;
}

.sidebar   .dropdown-content a:hover {
	background-color: #f1f1f1
}

.sidebar   .dropdown:hover .dropdown-content {
	display: block;
}

.sidebar   .dropdown:hover>a {
	color: #7ac043;
	border-left: 5px solid #7ac043 !important;
}

.submenuBlock1 {
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.submenuBlock1 .dropdown-divider {
	margin: 0;
}
/*================ Css End by sandeep gupta======================*/
.arrow_box {
	position: relative;
	background: #fff;
	border: 1px solid #fff;
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}

.arrow_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 11px;
	margin-top: -11px;
}
.table{border-radius:5px; width: 100% !important;}
.table td, .table th {
	vertical-align: middle;
	border-top: 1px solid #e9ecef;
}

.table td {
	padding: 2px .75rem 0px .75rem;
}

.table th {
	padding: .45rem;
}

.table-bordered thead td, .table-bordered thead th {
	border-bottom-width: 0;
}

.table th {
	border-top: 0px;
}

.error {
	color: #D8000C;
}
.note{
	color: #D8000C;
	font-size:12px;
}

.modal-header{padding:5px 15px;}
.col-form-label{font-size:14px;}
.articleShareBlock{position:fixed;left:0;top:30%;background:#7ac143;border-radius:0 5px 5px 0;padding:20px 5px;}
.articleShareBlock ul{list-style:none;margin:0;padding:0;}
.articleShareBlock ul li{text-align:center;margin-bottom:20px;}
.articleShareBlock ul li:last-child{margin-bottom:0;}
.articleShareBlock ul li a{font-size:12px;color:#fff;text-decoration:none;transition: all 0.1s ease-out;}
.articleShareBlock ul li a:hover{color:#bfffb8;}
.articleShareBlock ul li a i{font-size:16px;}
#toTop {position:fixed;bottom:5px;right:10px;cursor:pointer;font-size:40px;color:#0d679e;}
.articleTopLogo{text-align:center;background:#0d679e;padding:10px 0;}
.articleLinks{text-align:center;display:block;color:#000;text-decoration:none !important;padding:20px 0;border-bottom:1px solid #e2e0e0;}
.articleLinks i{font-size:40px;color:#7ac043;}
.pl80{padding-left:80px;}
textarea{resize:none;}
 
.customErrorMsg{position: absolute;
    top: -3rem;
    z-index: 2345;
    left: 0px;
    width: 100%;
    border-radius: 0;
    padding: 5px;
    text-align: center;
    border:0;
 -webkit-box-shadow: 0px 2px 5px 0px rgba(20,20,20,0.5);
-moz-box-shadow: 0px 2px 5px 0px rgba(20,20,20,0.5);
box-shadow: 0px 2px 5px 0px rgba(20,20,20,0.5);
    }
.customErrorMsg .close{padding:5px;    font-weight: 300;    text-shadow: 0 0px 0 #fff; opacity: 1;}
.alert-success {
    color: #fff;
    background-color: #7ac143;
}
.frmSearch {border: 1px solid #a8d4b1;background-color: #c6f7d0;margin: 2px 0px;padding:40px;border-radius:4px;}
 #customerlist {
    float: left;
    list-style: none;
     
    padding: 0;
    width: 86%;
    position: absolute;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    border:1px solid #dcdcdc;
    border-radius:3px;
}
#customerlist li{}
#customerlist li a{padding: 5px 10px; background: #fdfdfd; border-bottom: #f3f3f3 1px solid;display:block;text-decoration:none;}
#customerlist li:hover{background:#f9f9f9;cursor: pointer;}
 
 .multiselect-native-select, .multiselect-native-select .btn-group{width:100%;}
 .multiselect-native-select button.multiselect{text-align:left;position:relative;width:100%;    background: #e9ecef;    border: 1px solid #ced4da;color:#495057;}
  .multiselect-native-select button.multiselect b.caret{position:absolute;right:5px;top:5px;}
  .multiselect-native-select button.dropdown-toggle:after{    right: 10px; position: absolute;top: 15px;}
  .multiselect-native-select .dropdown-menu.show { width: 100%;}
 .multiselect-native-select .dropdown-menu.show  li a label{padding-left:10px;}
 
 .hideDiv
{
    display:none;
}
        
        table.table-bordered.dataTable td{    word-break: break-all;word-wrap: break-word;}
         table.table-bordered.dataTable th{  word-wrap: break-word;}
        