body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.logoutBtn {
	color: #fff;
}

.err {
	color: #8B0000;
}

.form-control.error {
    border-color: #f50000;
}

.required-field::after {
    content: "*";
    color: red;
}

.textError{
	text-align: right;
	color: red;
	font-weight: bold;
	
}