<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Think Dynamic Pricing Web Utility</title>
      <link th:rel="stylesheet" th:href="@{/css/datatables.css}"/>
      <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
         <div class="container">
            <a class="navbar-brand" href="#">Dynamic Renewal Codes</a>
         </div>
      </nav>
      <div class="container">
         <div class="row" style="margin-top:20px">
	            <div class="form-group">
	            	<a href="/addNewRenewalCode" th:href="@{/addNewRenewalCode}" class="btn btn-secondary btn-lg">Add Renewal Code</a>
	            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-10 mt-5 mb-5">
               <table id="example" class="table table-bordered table-responsive" style="width: 100%">
                  <thead>
                     <tr>
                        <th>Sl No</th>
                        <th>Dynamic Code</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Active From</th>
                        <th>Active To</th>
                     </tr>
                  </thead>
                  <tfoot>
                  </tfoot>
               </table>
            </div>
         </div>
      </div>
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
      <script th:src="@{/js/datatables.js}"></script>
      <script>
         $('#example').DataTable({
             "processing": true,
             "serverSide": true,
             "ajax": {
                 "url": "/dynamicRenewalCodeList",
                 "type": "POST",
                 "dataType": "json",
                 "contentType": "application/json",
                 "data": function (d) {
                     return JSON.stringify(d);
                 }
             },
             "columns": [
                 {"data": "slNo", "width": "10%"},
                 {"data": "dynamicCode","width": "20%"},
                 {"data": "offerType", "width": "20%"},
                 {"data": "description", "width": "20%"},
                 {"data": "activeFrom", "width": "20%"},
                 {"data": "activeTo", "width": "20%"}
             ]
         });
      </script>
   </body>
</html>